.imagenPequena {
    width: 6rem;
}

.contenedores {
    display: flex;
    gap: 0.5rem;
    margin: 1rem;

}

.contenedor {
    padding: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    border: 1px solid #0d6efd;

}

.negro {
    color: black;
}

.btnSimular {
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
};

/* .piePagina {
    display: flex;
    font-size: 24px;
    gap: 0.5rem;
    margin: 1rem;
} */

.miInput {
    color: #000;
}

.miInput::placeholder {
    opacity: 0.5;
};





@media screen and (max-width: 600px) {
    .contenedores {
        flex-direction: column;

    }

    .contenedor {
        padding: 1rem;

        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 100%;
        border: 1px solid #0d6efd;

    }


}

@media screen and (max-width: 600px) {

    .btnSimular {
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

}